{% extends "base.html" %}

{% block title %}My Home Budget - Home Page{% endblock %}


{% block footer %}
	
	<script>
		validateSignUpForm();
		showHidePassword();
	</script>
	
{% endblock %}

{% block body %}	
	<div class="bg-description">
		<section class="container">
			<div class="row justify-content-center">
			
				<form class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 px-4 pt-4 pb-4 my-4 bg-white formStart" method="post" action="/signup/create" id="formSignUp">
					<div class="bg-header-fnc py-2 mb-4">
						
						Register new user
					
					</div>
					
					<div class="input-group-text">
						<div class="inputIcon">
							<i class="icon-user"></i>
						</div>
						
						<input type="text" name="userName" class="form-control" value="{{ user.userName }}" placeholder="name" onfocus="this.placeholder=''" onblur="this.placeholder='name'" style="height: 40px" required>
					</div>
					
					<div class="text-danger text-start ps-3 errorName errorValidation">

                        {% if user.errors['ErrName1'] is defined %}
							<div>{{ user.errors['ErrName1'] }}</div>
                        {% endif %}
                        
                        {% if user.errors['ErrName2'] is defined %}
							<div>{{ user.errors['ErrName2'] }}</div>
                        {% endif %}
                        
                        {% if user.errors['ErrName3'] is defined %}
							<div>{{ user.errors['ErrName3'] }}</div>
                        {% endif %}

					</div>
					
					<div class="input-group-text">
						<div class="inputIcon">
							<i class="icon-mail-alt"></i>
						</div>
						
						<input type="text" name="email" class="form-control" value="{{ user.email }}" placeholder="email@adress.com" onfocus="this.placeholder=''" onblur="this.placeholder='email@adress.com'" style="height: 40px" required>
					</div>
					
					<div class="text-danger text-start ps-3 errorEmail errorValidation">
						{% if user.errors['ErrEmail1'] is defined %}
							<div>{{ user.errors['ErrEmail1'] }}</div>
						{% endif %}
						
						{% if user.errors['ErrEmail2'] is defined %}
							<div>{{ user.errors['ErrEmail2'] }}</div>
						{% endif %}					
						
						{% if user.errors['ErrEmail3'] is defined %}
							<div>{{ user.errors['ErrEmail3'] }}</div>
						{% endif %}
					</div>
					
					<div class="input-group-text">
						<div class="inputIcon">
						
							<i class="icon-lock"></i>
						
						</div>
						
						<input type="password" name="password1" id="passwordValid" class="form-control passwordShowHide" placeholder="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'" style="height: 40px" required>
						
						<button type="button" class="showHide inputIcon">
						
							<i class="icon-eye-1" id="toggler"></i>
						
						</button>
					
					</div>
					
					<div class="text-danger text-start ps-3 errorPassword errorValidation">
						{% if user.errors['ErrPassword2'] is defined %}
							<div>{{ user.errors['ErrPassword2'] }}</div>
						{% endif %}
						
						{% if user.errors['ErrPassword3'] is defined %}
							<div>{{ user.errors['ErrPassword3'] }}</div>
						{% endif %}
						
						{% if user.errors['ErrPassword4'] is defined %}
							<div>{{ user.errors['ErrPassword4'] }}</div>
						{% endif %}
					</div>
					
					<div class="input-group-text">
						<div class="inputIcon">
						
							<i class="icon-lock"></i>
						
						</div>
						
						<input type="password" name="password2" class="form-control" placeholder="confirm password" onfocus="this.placeholder=''" onblur="this.placeholder='confirm password'" style="height: 40px" required>
					</div>
					
					<div class="text-danger text-start ps-3 errorPasswordConfirmation errorValidation">
						{% if user.errors['ErrPassword1'] is defined %}
							<div>{{ user.errors['ErrPassword1'] }}</div>
						{% endif %}
					</div>
					
					<button class="px-3 py-2 mt-4 mb-3 signButton" type="submit">
						<i class="icon-user-add"></i>
						Sign Up
					</button>
					
					<div>Already have an account?<a href="/home/index" class="ms-1 SignIn">Sign In</a></div>
					
				</form>
			</div>
		</section>
	</div>

	
	<footer class="mt-4">
			
		All rights reserved 2021 &copy; myhomebudget.com Thank you for your visit!
			
	</footer>
	

	
{% endblock %}

