{% extends "base.html" %}

{% block title %}My Home Budget - Home Page{% endblock %}

{% block body %}
	<div class="bg-description">
		<section class="container">
			<div class="row justify-content-center">
				<div class="col-10 mt-5 mb-5">
					<h4 class="text-success"><i class="icon-ok me-2"></i>Success!</h4>
					<p style="color: #383733;">Your account is now active </br>You can now sign in.</p>
					
					<a class="btn btn-lg px-3 py-2 mt-3 signButton" href="/home/index">
						<i class="icon-user-add"></i>
						Sign In
					</a>
				<div>
			</div>
		</section>
	</div>

	
{% endblock %}