{% extends "base.html" %}

{% block title %}My Home Budget - Home Page{% endblock %}


{% block footer %}
	
	<script>
		validateResetPassword();
		showHidePassword();
	</script>
	
{% endblock %}

{% block body %}	
	<div class="bg-description">
		<section class="container">
			<div class="row justify-content-center">
			
				<form class="col-11 col-sm-10 col-md-8 col-lg-6 col-xl-5 px-4 pt-4 pb-4 my-4 bg-white formStart" method="post" action="/password/reset-password" id="formSignUp">
					<div class="bg-header-fnc py-2 mb-4">
						
						Reset password
					
					</div>
					
					<input type="hidden" name="token" value="{{ token }}" >
					
					<div class="input-group-text">
						<div class="inputIcon">
						
							<i class="icon-lock"></i>
						
						</div>
						
						<input type="password" name="password1" id="passwordValid" class="form-control passwordShowHide" placeholder="password" onfocus="this.placeholder=''" onblur="this.placeholder='password'" style="height: 40px" required>
						
						<button type="button" class="showHide inputIcon">
						
							<i class="icon-eye-1" id="toggler"></i>
						
						</button>
					
					</div>
					
					<div class="text-danger text-start ps-3 errorPassword errorValidation">
						{% if user.errors['ErrPassword2'] is defined %}
							<div>{{ user.errors['ErrPassword2'] }}</div>
						{% endif %}
						
						{% if user.errors['ErrPassword3'] is defined %}
							<div>{{ user.errors['ErrPassword3'] }}</div>
						{% endif %}
						
						{% if user.errors['ErrPassword4'] is defined %}
							<div>{{ user.errors['ErrPassword4'] }}</div>
						{% endif %}
					</div>
					
					<div class="input-group-text">
						<div class="inputIcon">
						
							<i class="icon-lock"></i>
						
						</div>
						
						<input type="password" name="password2" class="form-control" placeholder="confirm password" onfocus="this.placeholder=''" onblur="this.placeholder='confirm password'" style="height: 40px" required>
					</div>
					
					<div class="text-danger text-start ps-3 errorPasswordConfirmation errorValidation">
						{% if user.errors['ErrPassword1'] is defined %}
							<div>{{ user.errors['ErrPassword1'] }}</div>
						{% endif %}
					</div>
					
					<button class="px-3 py-2 mt-4 mb-3 signButton" type="submit">
						<i class="icon-user-add"></i>
						Reset password
					</button>
					
				</form>
			</div>
		</section>
	</div>

	
	<footer class="mt-4">
			
		All rights reserved 2021 &copy; myhomebudget.com Thank you for your visit!
			
	</footer>
	

	
{% endblock %}

