{% extends "base.html" %}

{% block title %}My Home Budget - Home Page{% endblock %}

{% block body %}
	<div class="bg-description">
		<section class="container">
			<div class="row justify-content-center">
				<div class="col-10 mt-5 mb-5">
					<h4 class="text-danger"><i class="icon-cancel me-2"></i>Request password reset</h4>
					<p style="color: #383733;">Password reset link invalid or expired, please click <a href="/password/forgot">here</a> to request another one.</p>
					
					<a class="btn btn-lg px-3 py-2 mt-3 signButton" href="/home/index">
						<i class="icon-user-add"></i>
						Back to home page
					</a>
				<div>
			</div>
		</section>
	</div>

	<div class="row justify-content-center">
		<footer class="mt-4 position-absolute bottom-0">
				
			All rights reserved 2021 &copy; myhomebudget.com Thank you for your visit!
				
		</footer>
	</div>
	
{% endblock %}