{% extends "base.html" %}

{% block title %}My Home Budget - Home Page{% endblock %}

{% block footer %}
	
	<script>
	
	</script>
{% endblock %}

{% block body %}
	<nav class="navbar navbar-light bg-navigation navbar-expand-lg mb-2">
	
		<button class="navbar-toggler ms-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Navigation toggler">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse  " id="mainMenu">
			<div class="container">
				<div class="row ms-1 ">
					<ul class="navbar-nav">
					
						<li class="nav-item col-lg-2">
							<a class="nav-link" href="/usermenu/usermain"><i class="icon-home"></i>Home</a>
						</li>
						
						<li class="nav-item col-lg-2">
							<a class="nav-link" href="/income/new"><i class="icon-money"></i>Add Income</a>
						</li>
						
						<li class="nav-item col-lg-2">
							<a class="nav-link" href="/expense/new"><i class="icon-dollar"></i>Add Expense</a>
						</li>
						
						<li class="nav-item disabled dropdown col-lg-2">
							<a class="nav-link" href="#" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-chart-pie-alt" ></i>Show Balance</a>
							
							<div class="dropdown-menu" aria-labelledby="submenu">
							
								<a class="dropdown-item" href="/balance/current-month" > Current Month </a>
								<a class="dropdown-item" href="/balance/last-month" > Last Month </a>
								<a class="dropdown-item" href="/balance/current-year" > Current Year </a>
								<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#dateModal"> Selected Period </a>
							
							</div>
							
						</li>
						
						<li class="nav-item dropdown col-lg-2">
							<a class="nav-link" href="#" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-cog"></i>Settings</a>
							
							<div class="dropdown-menu" aria-labelledby="submenu">
							
								<a class="dropdown-item" href="/settings/userSet"> User </a>
								
								<div class="dropdown-divider"></div>
								
								<a class="dropdown-item" href="/settings/incomeSet"> Income </a>
								<a class="dropdown-item" href="/settings/expenseSet"> Expense </a>
								
								<div class="dropdown-divider"></div>
								
								<a class="dropdown-item" href="/settings/paymentSet"> Payment Methods </a>
							
							</div>
							
						</li>
						
						<li class="nav-item col-lg-2">
							<a class="nav-link" href="/logout"><i class="icon-logout"></i>Sign out</a>
						</li>
					
					</ul>
				</div>
			</div>
		</div>
	
	</nav>


	{{ include('selectPeriod.html') }}


	<div class="bg-description-showBalance">
		<section class="container-fluid">
			<div class="row ">
				<div class="col-12 mt-2 ">
					<h5>
					
						<span class="chosenTimePeriod" >{{ financeData.startDate|date("d.m.Y") }}</span>
						
						-
						
						<span class="chosenTimePeriod" >{{ financeData.endDate|date("d.m.Y") }}</span>
					
					
					</h5>
					
					<div class="btn-group choiceTimeButton me-4 mt-1">
						<button class="btn dropdown-toggle  " type="button" id="submenu" data-bs-toggle="dropdown" ><i class="icon-calendar"></i>Choose date</button>
						
						<div class="dropdown-menu dropdown-menu-end" aria-labelledby="submenu">
							<a class="dropdown-item" href="/balance/current-month">Current Month</a>
							<a class="dropdown-item" href="/balance/last-month">Last Month</a>
							<a class="dropdown-item" href="/balance/current-year">Current Year</a>
							<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#dateModal">Selected period</a>
						</div>
					</div>
				</div>
			</div>	
		</section>
	</div>	

	<div class="container-fluid container-lg">
		<div class="row justify-content-center mt-3">
			<div class="table-responsive col-6"> 
				<table class="table table-bordered mb-0 caption-top table-sm">
				
						<thead>
							{% if financeData.allIncomes is not empty %}
								<tr>
									<th>Category</th>
									<th>Amount</th>
									<th>Date</th>
									<th>Comment</th>
								</tr>
							{% endif %}
						</thead>

						<tbody>
							{% for Income in financeData.allIncomes %}
								<tr>
									<td>{{ Income['name'] }}</td>
									<td>{{ Income['amount'] }}</td>
									<td>{{ Income['dateOfIncome'] }}</td>
									{% if Income['incomeComment'] is not empty %}
										<td>{{ Income['incomeComment'] }}</td>
									{% else %}
										<td>-</td>
									{% endif %}
									
								</tr>
							
							{% endfor %}
							
							<caption style="border-style: none;">Incomes</caption>

							<tr class="summary table-dark">
								<td class="total">TOTAL</td>
								<td class="sum" colspan="3">{{ financeData.countIncomes }} PLN</td>
							</tr>
						</tbody>
				</table>
			</div>

			<div class="table-responsive col-6"> 
				<table class="table table-bordered mb-0 caption-top table-sm" >


					<thead>
						{% if financeData.allExpenses is not empty %}
							<tr>
								<th>Category</th>
								<th>Amount</th>
								<th>Date</th>
								<th>Comment</th>
							</tr>
						{% endif %}
					</thead>
					
					<tbody>
						{% for Expense in financeData.allExpenses %}
							<tr>
								<td>{{ Expense['name'] }}</td>
								<td>{{ Expense['amount'] }}</td>
								<td>{{ Expense['dateOfExpense'] }}</td>
								{% if Expense['expenseComment'] is not empty %}
									<td>{{ Expense['expenseComment'] }}</td>
								{% else %}
									<td>-</td>
								{% endif %}
							</tr>
						
						{% endfor %}
						
						<caption style="border-style: none;">Expense</caption>
						
						<tr class="summary table-dark">
							<td class="total">TOTAL</td>
							<td class="sum" colspan="3">{{ financeData.countExpenses}} PLN</td>
						</tr>
						
					</tbody>
				</table>
			</div>
		</div>



	</div>
	
	<div class="row justify-content-center col-12">
		<div class="financeBalance col-5 col-md-4 col-lg-3 mt-5 p-2 row justify-content-center" style="border-radius: 5px">
				<div>Balance: {{ financeData.balance }} PLN</div>
		</div>
				{% if financeData.balance < 0 %}
					<div class='p-3' style='color:#cf1919; font-weight: 700; font-size: 18px;'>You are losing money! Improve your money management and start saving!</div>
				{% elseif financeData.balance > 0 %}
					<div class='p-3' style='color:#31ad39; font-weight: 700;font-size: 18px;'>Perfect, you have savings! Keep it up!</div>
				{% else %}
					<div class='p-3' style='color:#4f4646; font-weight: 700; font-size: 18px;'>No losses and no savings!</div>
				{% endif %}
		
	</div>
	
	<footer class="mt-auto">
		
		All rights reserved 2021 &copy; myhomebudget.com Thank you for your visit!
		
	</footer>
	
{% endblock %}