{% extends "base.html" %} {% block title %}My Home Budget - Home Page{% endblock %} {% block footer %}

<script>
    validateUserSettings();
    validateCategories();
    modalCategory();



    showHidePassword('#toggler1', '.passwordShowHide1', '.showHide1');
    showHidePassword('#toggler2', '.passwordShowHide2', '.showHide2');
    showHidePassword('#toggler3', '.passwordShowHide3', '.showHide3');
    showHidePassword('#toggler4', '.passwordShowHide4', '.showHide4');


    $('#userSet').on('click', function() {
        $('#userSetForm').trigger('reset');
    });

    $('#emailSet').on('click', function() {
        $('#emailSetForm').trigger('reset');
    });

    $('#passwordSet').on('click', function() {
        $('#passwordSetForm').trigger('reset');
    });
</script>
{% endblock %} {% block body %}

<nav class="navbar navbar-light bg-navigation navbar-expand-lg mb-2">

    <button class="navbar-toggler ms-2 mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Navigation toggler">
			<span class="navbar-toggler-icon"></span>
		</button>

    <div class="collapse navbar-collapse  " id="mainMenu">
        <div class="container">
            <div class="row ms-1 ">
                <ul class="navbar-nav">

                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="/usermenu/usermain"><i class="icon-home"></i>Home</a>
                    </li>

                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="/income/new"><i class="icon-money"></i>Add Income</a>
                    </li>

                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="/expense/new"><i class="icon-dollar"></i>Add Expense</a>
                    </li>

                    <li class="nav-item dropdown col-lg-2">
                        <a class="nav-link" href="#" aria-expanded="false" id="submenu" aria-haspopup="true"><i class="icon-chart-pie-alt" ></i>Show Balance</a>

                        <div class="dropdown-menu" aria-labelledby="submenu">

                            <a class="dropdown-item" href="/balance/current-month"> Current Month </a>
                            <a class="dropdown-item" href="/balance/last-month"> Last Month </a>
                            <a class="dropdown-item" href="/balance/current-year"> Current Year </a>
                            <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#dateModal"> Selected Period </a>

                        </div>

                    </li>

                    <li class="nav-item disabled dropdown col-lg-2">
                        <a class="nav-link" href="/settings/userSet"><i class="icon-cog"></i>Settings</a>
                    </li>

                    <li class="nav-item col-lg-2">
                        <a class="nav-link" href="/logout"><i class="icon-logout"></i>Sign out</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</nav>

{{ include('selectPeriod.html') }} {{ include('/Settings/userSet/usernameSet.html') }} {{ include('/Settings/userSet/emailSet.html') }} {{ include('/Settings/userSet/passwordSet.html') }} {{ include('/Settings/incomeSet/editCategoryIncome.html') }} {{
include('/Settings/incomeSet/deleteCategory.html') }} {{ include('/Settings/incomeSet/addCategory.html') }} {{ include('/Settings/expenseSet/editCategory.html') }} {{ include('/Settings/expenseSet/deleteCategory.html') }} {{ include('/Settings/expenseSet/addCategory.html')
}} {{ include('/Settings/paymentMethods/editCategory.html') }} {{ include('/Settings/paymentMethods/deleteCategory.html') }} {{ include('/Settings/paymentMethods/addCategory.html') }} {{ include('/Settings/userSet/deleteBalance.html') }} {{ include('/Settings/userSet/deleteAccount.html')
}}

<section class="container mt-4 col-6 mb-2">
    <div class="row justify-content-center bg-light ">

        <button class="btn fw-bold p-1 userSetBtn" data-bs-toggle="collapse" data-bs-target="#userCollapse">User Settings<i class="icon-down-open"></i></button>

        <div class="collapse" id="userCollapse">
            <div class="row justify-content-left">
                <form class="mt-2 text-start">
                    <label for="nameInput" class="form-label ps-3 fw-bold">Name</label>

                    <div class="input-group-text ps-3 pt-0 mb-2">

                        <input class="form-control shadow-none border-secondary border-1" type="text" name="name" value="{{ name }}" id="nameInput" disabled>

                        <button type="button" class="inputIcon userSet" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#userSettings">
								
								<i class="icon-edit" id="toggler"></i>
							
							</button>
                    </div>

                    <label for="emailInput" class="form-label ps-3 fw-bold">Email</label>

                    <div class="input-group-text ps-3 pt-0 mb-2">

                        <input class="form-control shadow-none border-secondary border-1" type="email" name="email" value="{{ email }}" disabled>

                        <button type="button" class="inputIcon userSet" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#emailSettings">
								
								<i class="icon-edit" id="toggler"></i>
							
							</button>
                    </div>

                    <label for="passwordInput" class="form-label ps-3 fw-bold">Password</label>

                    <div class="input-group-text ps-3 pt-0">

                        <input class="form-control shadow-none border-secondary border-1" type="password" name="password" value="{{ password }}" disabled>

                        <button type="button" class="inputIcon userSet" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#passwordSettings">
								
								<i class="icon-edit" id="toggler"></i>
							
							</button>
                    </div>

                    <div class="row justify-content-center mt-3">
                        <button type="button" class="inputIcon userSet col-11 finallyButton py-1" data-bs-toggle="modal" data-bs-target="#deleteAllBalance">Delete All Incomes And Expenses
                                    
                            <i class="icon-trash-empty" id="toggler"></i>
                        
                        </button>

                        <button type="button" class="inputIcon userSet col-11 mt-3 finallyButton py-1" data-bs-toggle="modal" data-bs-target="#deleteAccount">Delete User Account
                                    
                            <i class="icon-trash-empty" id="toggler"></i>
                        
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="row justify-content-center bg-light mt-2">

        <button class="btn fw-bold p-1 userSetBtn" data-bs-toggle="collapse" data-bs-target="#incomeCollapse">Income Settings<i class="icon-down-open"></i></button>

        <div class="collapse" id="incomeCollapse">
            <div class="row justify-content-left">
                <form class="mt-2 text-start" id="incomeCategory">
                    <label for="incomeCollapse" class="form-label ps-3 fw-bold">Income Categories
                        <button class="inputIcon addButton" id="addButton" style="font-size: 18px; font-weight: 600;" type="button" data-bs-toggle="modal" data-bs-target="#addCategoryIncomeModal">Add category
                            <i class="icon-plus py-0"></i>
                        </button>
                    </label> {% for category in incomeCategory %}
                    <div class="input-group-text ps-3 pt-0 mb-2">

                        <input class="form-control shadow-none border-secondary border-1" type="text" name="name" value="{{ category.name }}" disabled>

                        <button type="button" category-name="{{ category.name }}" category-id="{{ category.id }}" class="inputIcon userSet editButton" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#editCategoryIncomeModal" id="editButton"><i class="icon-edit" id="toggler"></i></button>
                        <button type="button" class="inputIcon userSet" delete-id="{{ category.id }}" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#deleteCategoryIncomeModal" id="deleteButton"><i class="icon-trash-empty" id="toggler"></i></button>

                    </div>

                    {% endfor %}

                </form>
            </div>
        </div>

    </div>

    <div class="row justify-content-center bg-light mt-2">

        <button class="btn fw-bold p-1 userSetBtn" data-bs-toggle="collapse" data-bs-target="#expenseCollapse">Expense Settings<i class="icon-down-open"></i></button>

        <div class="collapse" id="expenseCollapse">
            <div class="row justify-content-left">
                <form class="mt-2 text-start" id="expenseCategory">
                    <label for="expenseCollapse" class="form-label ps-3 fw-bold">Expense Categories
                        <button class="inputIcon addButton" id="addButton" style="font-size: 18px; font-weight: 600;" type="button" data-bs-toggle="modal" data-bs-target="#addCategoryExpenseModal">Add category
                            <i class="icon-plus py-0"></i>
                        </button>
                    </label> {% for category in expenseCategory %} {% if category.limitAmount is not null %}

                    <label class="limitInfo mx-4 px-3">Monthly limit for category: {{ category.limitAmount }} PLN</label>

                    <div class="input-group-text ps-3 pt-0">

                        <input class="form-control shadow-none border-secondary border-1" type="text" name="name" value="{{ category.name }}" disabled>

                        <button type="button" category-name="{{ category.name }}" category-id="{{ category.id }}" limit-info="{{ category.limitAmount }}" class="inputIcon userSet editButton" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#editCategoryExpenseModal"
                            id="editButton"><i class="icon-edit" id="toggler"></i></button>
                        <button type="button" class="inputIcon userSet" delete-id="{{ category.id }}" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#deleteCategoryExpenseModal" id="deleteButton"><i class="icon-trash-empty" id="toggler"></i></button>

                    </div>
                    {% else %}
                    <div class="input-group-text ps-3 pt-0 mt-2">

                        <input class="form-control shadow-none border-secondary border-1" type="text" name="name" value="{{ category.name }}" disabled>

                        <button type="button" category-name="{{ category.name }}" category-id="{{ category.id }}" class="inputIcon userSet editButton" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#editCategoryExpenseModal" id="editButton"><i class="icon-edit" id="toggler"></i></button>
                        <button type="button" class="inputIcon userSet" delete-id="{{ category.id }}" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#deleteCategoryExpenseModal" id="deleteButton"><i class="icon-trash-empty" id="toggler"></i></button>

                    </div>
                    {% endif %} {% endfor %}

                </form>
            </div>
        </div>

    </div>

    <div class="row justify-content-center bg-light mt-2">

        <button class="btn fw-bold p-1 userSetBtn" data-bs-toggle="collapse" data-bs-target="#paymentCollapse">Payment Methods Settings<i class="icon-down-open"></i></button>

        <div class="collapse" id="paymentCollapse">
            <div class="row justify-content-left">
                <form class="mt-2 text-start" id="paymentCategory">
                    <label for="paymentCategory" class="form-label ps-3 fw-bold">Payment Methods Categories
                        <button class="inputIcon addButton" id="addButton" style="font-size: 18px; font-weight: 600;" type="button" data-bs-toggle="modal" data-bs-target="#addCategoryPaymentModal">Add category
                            <i class="icon-plus py-0"></i>
                        </button>
                    </label> {% for category in paymentCategory %}
                    <div class="input-group-text ps-3 pt-0 mb-2">

                        <input class="form-control shadow-none border-secondary border-1" type="text" name="name" value="{{ category.name }}" disabled>

                        <button type="button" category-name="{{ category.name }}" category-id="{{ category.id }}" class="inputIcon userSet editButton" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#editCategoryPaymentModal" id="editButton"><i class="icon-edit" id="toggler"></i></button>
                        <button type="button" class="inputIcon userSet" delete-id="{{ category.id }}" style="font-size: 21px;" data-bs-toggle="modal" data-bs-target="#deleteCategoryPaymentModal" id="deleteButton"><i class="icon-trash-empty" id="toggler"></i></button>

                    </div>

                    {% endfor %}
                </form>
            </div>
        </div>

    </div>

</section>



{% endblock %}