<div class="modal hide fade in" tabindex="-1" role="dialog" id="passwordSettings" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit password</h3>

                <button type="button" class="close closeButton" data-bs-dismiss="modal">x</button>
            </div>

            <form class="mx-4 modalEditOptionPassword" id="passwordSetForm" style="text-align: left;" method="post" action="/settings/editUserProfile">
                <div class="modal-body">
                    <h5>Enter a new password</h5>

                    <div class="row justify-content-left">

                        <label for="passwordInput" class="form-label ps-3 modalLabel">Actual Password</label>

                        <div class="input-group-text ps-3 pt-0">

                            <input class="form-control passwordShowHide3" type="password" name="password" value="" placeholder="actual password" required>
                            <input class="form-control passwordShowHide" type="password" name="password2" id="password2" value="{{ password }}" hidden disabled>
                            <button type="button" class="showHide3 inputIcon" style="font-size: 22px;">
                    
                                <i class="icon-eye-1" id="toggler3"></i>
                            
                            </button>
                        </div>

                        <div class="text-danger text-start ps-3 errorPassword">



                        </div>

                        <label for="passwordInput" class="form-label ps-3 modalLabel">New Password</label>

                        <div class="input-group-text ps-3 pt-0">

                            <input class="form-control passwordShowHide4" type="password" name="new_password" value="" placeholder="new password" required>

                            <button type="button" class="showHide4 inputIcon" style="font-size: 22px;">
                    
                                <i class="icon-eye-1" id="toggler4"></i>
                            
                            </button>
                        </div>

                        <div class="text-danger text-start ps-3 errorNewPassword">



                        </div>

                    </div>
                </div>

                <div class="modal-footer mt-2 mb-2">
                    <button class="btn footerButtons passwordValid" type="submit">Save</button>

                    <button type="button" id="passwordSet" class="btn footerButtons" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>