<div class="modal hide fade in" tabindex="-1" role="dialog" id="userSettings" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Edit username</h3>

                <button type="button" class="close closeButton" data-bs-dismiss="modal">x</button>
            </div>

            <form class="mx-4 validUserName" id="userSetForm" style="text-align: left;" method="post" action="/settings/editUserProfile">
                <div class="modal-body">
                    <h5>Enter a new username for change name and confirm password</h5>

                    <div class="row justify-content-left">
                        <label for="nameInput" class="form-label ps-3">Name</label>

                        <div class="input-group-text ps-3 pt-0 mb-2">

                            <input class="form-control" type="text" name="username" value="{{ name }}" id="nameInput" required>

                        </div>

                        <div class="text-danger text-start ps-3 errorUsername">



                        </div>

                        <label for="passwordInput" class="form-label ps-3">Password</label>

                        <div class="input-group-text ps-3 pt-0">

                            <input class="form-control passwordShowHide1" type="password" name="password" value="" placeholder="confirm password" required>
                            <input class="form-control passwordShowHide" type="password" name="password2" id="password2" value="{{ password }}" hidden disabled>
                            <button type="button" class="showHide1 inputIcon" style="font-size: 22px;">
                    
                                <i class="icon-eye-1" id="toggler1"></i>
                            
                            </button>
                        </div>

                        <div class="text-danger text-start ps-3 errorPassword">



                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-2 mb-2">
                    <button class="btn footerButtons passwordValid" type="submit">Save</button>

                    <button type="button" id="userSet" class="btn footerButtons" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>