<div class="modal hide fade in" tabindex="-1" role="dialog" id="deleteCategoryExpenseModal" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Delete category</h3>

                <button type="button" class="close closeButton" data-bs-dismiss="modal">x</button>
            </div>

            <form class="mx-4 modalEditOptionExpenseCategory" id="expenseSetForm" style="text-align: left;" method="post" action="/settings/delete-expense-category">
                <div class="modal-body">
                    <h5>Are you sure you want to delete the category? </h5>

                    <p> If you delete the category all of your expenses assigned to this category will be automatically deleted.</p>

                    <input class="form-control" type="text" name="categoryIdDel" value="" hidden>
                </div>

                <div class="modal-footer mt-2 mb-2">
                    <button class="btn footerButtons expenseValid" type="submit">Delete</button>

                    <button type="button" id="expenseCatSet" class="btn footerButtons" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>

</div>